
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InkWave</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="foundation-icons/foundation-icons.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/fastclick.js" />
    <script src="js/vendor/jquery.js" />
    <script src="js/foundation/foundation.js" />
  	<script src="js/foundation/foundation.reveal.js"></script>


</head>

<style>

.login {

	text-align: center;
}



</style>


<body>
    <div id="top"></div>
    <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="#">InkWave</a>
                    </h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon">
                    <a href="#">
                        <span>Menu</span>
                    </a>
                </li>
            </ul>
            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul id="nav" class="right">
                    <li>
                        <a href="#top">Home</a>
                    </li>

                    <% if (logged === 0) { %>
                      <li>
                        <p><%= logged %></p>
                      </li>
                      <li>
                      	<a href="#" data-reveal-id="myModal">Login/Signup</a>

                          <div id="myModal" class="reveal-modal tiny" data-reveal>
                            <form action = "login" method = "post">
                              <div class = "login">
                              	<input type = "text" name = "username" placeholder = "Username " />
                              	<input type = "password" name = "password" placeholder = "Password" />
                                <!-- Rounded Button Group -->
                                <ul class="button-group round even-2">
                                  <button type="submit" value="Login">Login</button>
                              	   <a href="#" data-reveal-id="secondModal" class="secondary button">Sign Up</a>
                                </u1>
                              </div>
                            </form>
                          </div>
                              <!-- <a class="close-reveal-modal">&#215;</a> */ -->


                          <div id="secondModal" class="reveal-modal tiny" data-reveal>
                              <form action = "register" method = "post">
                                <div class = "login">
                                  <p> Pick a User Name and Password </p>
                                  <input type = "text" name = "username" placeholder = "Username " />
                                  <input type = "password" name = "password" placeholder = "Password" />
                                  <input type = "password" name = "pass2" placeholder = "Confirm Password" />
                                  <!-- Rounded Button Group -->
                                  <ul class="button-group round even-2">
                                    <button type="submit" value="Register">Register</button>
                                    <a href="#" data-reveal-id="myModal" class="secondary button">Back</a>
                                  </u1>
                                </div>
                              </form>
                          </div>
                      </li>
                    <% } else {%>

                      <li>
                        <a href="#top"><%= username %></a>
                      </li>

                      <li>
                        <form action = "/logout" method = "post">
                          <button tpye="submit" value = "Logout">Logout</button>
                        </form>
                      </li>
                    <% } %>

                </ul>

            </section>
        </nav>
    </div>
    <section class="jumbo">
        <div class="row">
            <div class="large-12 columns">
                <h1> We Love to Connect </h1>
                <p class="text-center">
                    <a href="/compose" class="large round button">Compose</a>
                </p>

            </div>
        </div>
    </section>

    <section id="about">
        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="text-center">
                    <h2> Getting Started </h2>
                    <p> Start talking to someone anywhere in the world. Just follow these three easy steps. </p>
                </div>
                <div>
                    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                        <li>
                            <img src="img/image1.jpg" alt="image1" />
                            <h3 class="text-center"> Step One </h3>
                            <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.</p>
                        </li>
                        <li>
                            <img src="img/image2.jpg" alt="image2" />
                            <h3 class="text-center"> Step Two </h3>
                            <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.</p>
                        </li>
                        <li>
                            <img src="img/image3.jpg" alt="image3" />
                            <h3 class="text-center"> Step Three </h3>
                            <p>Phasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec nisi. Maecenas et turpis vitae velit volutpat porttitor a sit amet est. Uthasellus facilisis, nunc in lacinia auctor, eros lacus aliquet velit, quis lobortis risus nunc nec.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="copy">
            <div class="row">
                <div class="large-12 columns">
                    <div class="large-4 pull-1 columns text-center">
                        <p>&copy; InkWaves is a product of penp.al </p>
                    </div>
                    <div class="large-7 push-2 columns text-center">
                        <!-- Please Leave this link out of respect for the designer -->
                        <p>Designed By:
                            <a href="http://tarunraj.me"> Tarun Web Design </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    <script>
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
</body>

</html>
